include src/gemini3d/templates/qsub_template.job
include src/gemini3d/libraries.json src/gemini3d/requirements.json src/gemini3d/compare/tolerance.json src/gemini3d/tests/ref_data.json
include src/gemini3d/tests/config/config_example.nml src/gemini3d/tests/config/config_msis20.nml src/gemini3d/tests/config/config_example.ini
