include src/gemini3d/templates/qsub_template.job
include src/gemini3d/libraries.json src/gemini3d/compare/tolerance.json
include src/gemini3d/tests/config/config_example.nml src/gemini3d/tests/config/config_msis2.nml
